<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
  <script src="script/SearchCtrl.js"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="string">
	<div ng-controller="SearchCtrl" ng-init="filter.order='title'; query = ''">		
		<h3>Here is the list of cities</h3>
		<div>
			<h4>sorted by</h4><input type="text" ng-model='filter.order'>
		</div>
		<div>
			<h4>filtered with</h4><input id='searchBox' name='searchBox' type="text" ng-model='query'>
		</div>
		<ul >
			<li ng-repeat="item in ((items | filter: query) | orderBy: filter.order)">
				{{item.title}}
			</li>
		</ul>
	</div>
</body>
</html>
